# Environment
.env
myenv/
__pycache__/
*.pyc
*.pyo
.Python

# IDE
.vscode/
.idea/
*.swp

# Tests
.pytest_cache/
.coverage
htmlcov/

# Distribution
dist/
build/
*.egg-info/

# Intentional pushing the Output Files